@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Dit project, gemaakt als eindopdracht door Jan Verhoeven, bewaart volgens de Europese regels van de <a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-protection-eu_nl">GDPR</a> geen persoonlijke gegevens.</p>
<p>Wel wordt er 7 dagen, met cookies, bijgehouden welke uw gemaakte voorkeur is. Deze kan u instellen en aanpassen via <a href="~/SiteSettings">Site Settings pagina.</a></p>
<p>Bijkomenende info of vragen <a href="mailto:zoete.inval.bevel@gmail.com?subject=PrivacyGDPR&body=Dag%20Jan,%0D%0A%0AReactie%20GDPR-settings%3A">Webmaster</a></p>