@page
@model startProject.Pages.SiteSettingsModel
@{

}

<h1>jQuery Color Picker: Farbtastic</h1>

<div id="demo" style="color: red; font-size: 1.4em">jQuery.js is not present(cause this #demo is visible). You must install jQuery(and /or the _ColorScriptsPartial) in this folder for the demo to work.</div>

<form><input type="text" id="color" name="color" value="#123456" /></form>
<div id="colorpicker"></div>

<p>More info on <a href="http://www.acko.net/dev/farbtastic">Acko.net</a>.</p>
<p>Created by <a href="http://www.acko.net/">Steven Wittens</a>.</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ColorScriptsPartial");}
}