/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*   JS NoScript */
noscript {
    color: red;
    font-style: italic;
    font-weight: bold;
}

/*  Tooltips */
.tooltips {
    position: relative;
    display: inline;
}

    .tooltips span {
        position: absolute;
        width: auto;
        color: #000000;
        background: #ffffff;
        height: auto;
        line-height: 35px;
        text-align: center;
        font-size: medium;
        visibility: hidden;
        border-radius: 6px;
        box-shadow: 3px 2px 7px #284224;
        margin: 5px;
    }

        .tooltips span:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            width: 0;
            height: 0;
            border-top: 8px solid #E2FFC2;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
        }

:hover.tooltips span {
    visibility: visible;
    opacity: 0.95;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}